<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>OAP Sensor</title>
</head>
<body>
<div style="font-size:1.5em">
<h1>OAP Sensor</h1>
<form action="ssidSelected" method="post">
<table>
<tbody>
<tr>
<td>SSID <small>(required)</small></td>
<td><input type="text" autocorrect="off" autocapitalize="none" name="ssid" /></td>
</tr>
<tr>
<td>Password <small>(required)</small></td>
<td><input type="text" autocorrect="off" autocapitalize="none" name="password" /></td>
</tr>
<tr>
<td>IP address <small>(optional)</small></td>
<td><input type="text" autocorrect="off" autocapitalize="none" name="ip" /></td>
</tr>
<tr>
<td>Gateway address <small>(optional)</small></td>
<td><input type="text" autocorrect="off" autocapitalize="none" name="gw" /></td>
</tr>
<tr>
<td>Netmask <small>(optional)</small></td>
<td><input type="text" autocorrect="off" autocapitalize="none" name="netmask" /></td>
</tr>
</tbody>
</table>
 <p>
<input type="submit" value="Submit" style="font-size:2em">
</p>
</form>
</div>
</body>
</html>