menu "OAP WIFI"
		
config OAP_AP_PASSWORD
	string "AccessPoint password"
	default "cleanair"
	help
		Password to authenticate to WiFi Access Point when sensor runs in this mode.
		Minimum 8 characters.
				
endmenu