menu "OAP measurements"

config OAP_PM_SAMPLE_BUF_SIZE
	int "PM sensor sample buffer size"
	default 120
	help		
		Max number of samples that are stored during measurement period. PMSx003 sensor sends ~1 sample / sec.
		If more samples are collected during measurement, older samples get overriden.

config OAP_HEATER_CONTROL_PIN
    int "external heater gpio"
    default -1
    help
        optional GPIO pin to control a heater. It mirrors state of SET gpio. (0 = none)

config OAP_FAN_CONTROL_PIN
    int "external fan gpio"
    default -1
    help
        optional GPIO pin to control an additional fan. It mirrors state of SET gpio. (0 = none)

endmenu