menu "OAP OTA updates"

config OAP_OTA_ENABLED
    int "enable OTA updates"
    default 1
    help
        enable automatic over-the-air updates

config OAP_OTA_BIN_URI_PREFIX
    string "bin uri prefix"
    default "https://openairproject.com/ota/"
    help
        This prefix will be used to construct a full URI of a binary with OTA file.
        It is recommended to define as strictly as possible to increase security.
        Malicious index file won't be able to force update from different server / path.

config OAP_OTA_INDEX_URI
    string "index uri"
    default "https://openairproject.com/ota/index.txt""
    help
        full URI to file with OTA definition
        
endmenu