menu "OAP PMSx003 Sensor"

config OAP_PM_UART_NUM
    hex "uart num"
    default 1
    help
        todo

config OAP_PM_SENSOR_CONTROL_PIN
    int "sensor set gpio"
    default 10
    help
        R/W GPIO pin connected to sensor SET line - it enables/disables sensor.

config OAP_PM_UART_RXD_PIN
    int "RX gpio"
    default 13
    help
        GPIO pin connected to sensor RX line. This pin can be R/O (>=34).
        
config OAP_PM_UART_TXD_PIN
    int "TX gpio"
    default 5
    help
        Any gpio pin (no need to connect this line)
        
config OAP_PM_UART_RTS_PIN
    int "RTS gpio"
    default 18
    help
        Any gpio pin (no need to connect this line)

config OAP_PM_UART_CTS_PIN
    int "CTS gpio"
    default 19
    help
        Any gpio pin (no need to connect this line)

config OAP_HEATER_CONTROL_PIN
    int "external heater gpio"
    default 21
    help
        optional GPIO pin to control a heater. It mirrors state of SET gpio. (0 = none)

config OAP_FAN_CONTROL_PIN
    int "external fan gpio"
    default 22
    help
        optional GPIO pin to control an additional fan. It mirrors state of SET gpio. (0 = none)

config OAP_PM_ENABLED_AUX
    int "enable secondary PM sensor"
    default 0
    help
        todo

config OAP_PM_UART_NUM_AUX
    hex "AUX uart num"
    default 2
    help
        todo

config OAP_PM_SENSOR_CONTROL_PIN_AUX
    int "AUX sensor set gpio"
    default 2
    help
        R/W GPIO pin connected to sensor SET line - it enables/disables sensor.

config OAP_PM_UART_RXD_PIN_AUX
    int "AUX RX gpio"
    default 15
    help
        GPIO pin connected to sensor RX line. This pin can be R/O (>=34).
        
config OAP_PM_UART_TXD_PIN_AUX
    int "AUX TX gpio"
    default 5
    help
        Any gpio pin (no need to connect this line)
        
config OAP_PM_UART_RTS_PIN_AUX
    int "AUX RTS gpio"
    default 18
    help
        Any gpio pin (no need to connect this line)

config OAP_PM_UART_CTS_PIN_AUX
    int "AUX CTS gpio"
    default 19
    help
        Any gpio pin (no need to connect this line)

endmenu