menu "OAP BMx280 Sensor"

config OAP_BMX280_ADDRESS
    hex "i2c address"
    default 0x76
    help
        default address for bmx280 sensor is 0x76, it can be set to 0x77 by pulling down SDO pin.

config OAP_BMX280_I2C_NUM
    int "i2c interface number"
    default 0
    help
        todo
        
config OAP_BMX280_I2C_SDA_PIN
    int "gpio SDA pin"
    default 25
    help
        be careful with choosing gpio. i2c pins must be R/W.
        

config OAP_BMX280_I2C_SCL_PIN
    int "SCL pin"
    default 26
    help
        see help for SDA pin

endmenu