menu "OAP MH-Z19 CO2 Sensor"

config OAP_MH_ENABLED
    bool "enable MH-Z19 CO2 Sensor"
    default y
    help
        todo   

config OAP_MH_UART_NUM
    hex "uart num"
    default 2
    help
        todo

config OAP_MH_UART_RXD_PIN
    int "RX gpio"
    default 16
    help
        GPIO pin connected to sensor RX line. This pin can be R/O (>=34).
        
config OAP_MH_UART_TXD_PIN
    int "TX gpio"
    default 17
    help
        GPIO pin connected to sensor TX line.
        
config OAP_MH_UART_RTS_PIN
    int "RTS gpio"
    default 18
    help
        Any gpio pin (no need to connect this line)

config OAP_MH_UART_CTS_PIN
    int "CTS gpio"
    default 19
    help
        Any gpio pin (no need to connect this line)

endmenu
